
.container {
    position:absolute;
    left:50%;
    top:50%;
    text-align: center;
}

.X-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    color: #f4df96;
    border-color: #f4df96;
    border-style: solid;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-body {
    max-width: 1000px;
    height: 500px;
    aspect-ratio: 5/3;

    position: relative;
    background-color: #000;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.modal-content {
    padding: 70px;
}

.modal-big-text {
    font-size: clamp(32px, 8vw, 60px);
    font-family: 'Nanum Myeongjo';
    color: #f4df96;
}

.modal-sub-text {
    font-size: clamp(10px, 3vw, 30px);
    font-family: 'Nanum Myeongjo';
    color: white;
}

.modal-p {
    font-family: 'Nanum Myeongjo';
    color: white;
    font-size: 3vw;
}

.modal-body ul {
    list-style-type: none;
    color: white;
    padding-left: 0;
}
.modal-body li{
    font-family: 'Nanum Myeongjo';
}
.modal-img {
    width: 300px;
    height: 100px;
}

.modal-icon {
    width: 30px;
    height: 30px;
}

.profile-box {
    width: 150px;
    height: 300px;
    background-color: rgb(110, 110, 155);
    text-align: center;
}
.div-icon{
    display:flex;
    gap:20px;
}