#card_1{
    background-image: url("img/Minwook.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card_2{
    background-image: url("img/Sehee.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#card_3{
    background-image: url("img/jinsung.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#card_4{
    background-image: url("img/Yuwon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#card_5{
    background-image: url("img/Taeyeon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#card_6{
    background-image: url("img/Hanna.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#card_7{
    background-image: url("img/Chungmyoung.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#card_8{
    background-image: url("img/Hyungchan.png");
    background-repeat: no-repeat;
    background-size: cover;
}
