body{

  width: 100vw;
  height: 100vh;
}

#likelion-header {
  /*
    '>' : 직접적인 자식 요소일 때만 스타일을 적용하고 싶을 때 사용
    만약 모든 하위 요소 중에서 #header_logo를 선택하고 싶다면 >를 생략
  */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 50px;

  > #header_logo {
    img {
      width: 100px;
    }
  }
}

#likelion-banner {
  border: 1px solid blue;
  width: 100%;
  height: 20vh;
  padding: 50px;
}

#likelion-grid {
  border: 1px solid red;
  padding: 50px;
  display: flex;
  flex-direction: row;

  .member {
    border: 1px solid brown;
    border-radius: 8px;
    width: 300px;
    height: 100px;
  }

  .template {
    display: none;
  }
}

#footer {
  padding: 40px 60px;
  background-color: #000000;

  display: flex;
  align-items: center;

  border-top: #d5a151 1px solid;
}
.footer-left {
  width: 290px;
}

/* 트로피 */
.footer-left img {
  width: 100px;
}

/* 소개 문구 */
.footer-center {
   flex: 1;/*가운데 소개문구가 트로피,아이콘 공간을 제외한 나머지 공간을 다 차지하도록*/
  text-align: center;

  a{
    text-decoration: none;
    color: #d5a151;
     transition: transform 0.2s ease;/*마우스 가져다 대면 부드럽게 hover*/
  }
}

.footer-text {
  color: #d5a151;
  font-size: 14px;

  font-family: Georgia, 'Times New Roman', Times, serif;

}

/* SNS 아이콘 */
.footer-right {
  display: flex;
  gap: 30px;
}

.footer-right img {
  width: 50px;
  height: 50px;
}

/* hover 효과 */
.footer-right img:hover {
  transform: scale(1.1);
}
