body{

 width: 100vw;
  height: 100vh;
}

#likelion-header {
  /*
    '>' : 직접적인 자식 요소일 때만 스타일을 적용하고 싶을 때 사용
    만약 모든 하위 요소 중에서 #header_logo를 선택하고 싶다면 >를 생략
  */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 50px;

  > #header_logo {
    img {
      width: 100px;
    }
  }
}

#likelion-banner {
  border: 1px solid blue;
  width: 100%;
  height: 20vh;
  padding: 50px;
}

#likelion-grid {
  border: 1px solid red;
  padding: 50px;
  display: flex;
  flex-direction: row;

  .member {
    border: 1px solid brown;
    border-radius: 8px;
    width: 300px;
    height: 100px;
  }

  .template {
    display: none;
  }
}

#footer {
  border: 1px solid slategrey;
  width: 100%;
  padding: 50px;
  height: 50px;
}